<div class="bg-primary p-3 rounded m-5">
    <form>
        <div class="mb-3">
          <label for="exampleInputFirstName" class="form-label text-light">First Name</label>
          <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name">
        </div>
        <div class="mb-3">
          <label for="exampleInputLatName" class="form-label text-light">Last Name</label>
          <input type="number" class="form-control" id="exampleInputLastName" placeholder="Last Name">
        </div>
        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button> -->
      </form>
</div>
